.news-container {
  padding: 8px 4px;
  background-color: #E5E5E5;
  margin-bottom: 2px;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
}

.pagination-wrapper button {
  margin: 10px 3px;
}
